/* section 1 - (HERO) for mobile */

/* for pc */
/* .first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/people-office-1nonly.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
} */

/* MOBILE */

.first-section {
  background-color: var(--GREY, rgba(46, 47, 66, 0.7));
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/Dark-bg-mobile-min.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/Dark-bg@2x-mobile-min.jpg);
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/Dark-bg-tablet-min.jpg);
  }
}
/* 2x */
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .first-section {
    background-image: url(../../images/Dark-bg@2x-tablet-min.jpg);
  }
}

/* DESKTOP */

@media screen and (min-width: 1168px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/people-office-1nonly.jpg);
  }
}

/* 2 mal vergrößertes Bild */
@media screen and (min-resolution: 192dpi) and (min-width: 1168px),
  screen and (min-resolution: 2dppx) and (min-width: 1168px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1168px) {
  .first-section {
    background-image: url(../../images/people-office@2x-pc-min.jpg);
  }
}

/* SECTION 2 */

@media screen and (max-width: 767px) {
  .second-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .second-section-ul {
    max-width: 288px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .li-class-section-two {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .icon-antenna-one {
    display: none;
  }
}

/* SECTION 3 */
@media screen and (max-width: 767px) {
  .third-section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-section-container {
    max-width: 296px;
  }

  .our-team-caption {
    margin-bottom: 72px;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .section-three-ul {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin-right: auto;
    margin-left: auto;
  }

  .our-team-pics {
    display: flex;
    width: 264px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-right: 0;
  }

  .team-card-container {
    margin-right: auto;
    margin-left: auto;
    padding: 32px 0;
  }

  .caption-thethird {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .paragraph-third {
    text-align: center;
  }

  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }

  .social-list-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list-link {
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .fourth-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-section-container {
    width: 320px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .section-four-caption {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .section-four-ul {
    width: 288px;
    display: inline-flex;
    flex-direction: column;
    gap: 48px;
  }

  .li-class-section-four {
    border: 1px solid #f4f4fd;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .stylish-paragraph {
    display: none;
  }
}

/* SECTION 4 */
@media screen and (max-width: 767px) {
  .project-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .section-four-caption-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .bank-app-paragraph {
    font-weight: 400;
  }
}

/* FOOTER */
@media screen and (max-width: 767px) {
  .page-footer {
    background-color: #2e2f42;
    padding-top: 97px;
    padding-bottom: 96px;
  }

  .logo-link-footer {
    display: flex;
    margin-bottom: 16px;
    text-align: center;
    justify-content: center;
  }

  .logotype-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
  }

  .footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 288px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-footer-container {
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .social-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
  }

  .main-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .main-social-item {
    width: 40px;
    height: 40px;
  }

  .main-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-paragraph {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .form-for-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-class {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
  }

  ::placeholder {
    opacity: 0.6;
    color: var(--WHITE, #fff);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.48px;
  }

  .subscribe-button {
    background-color: #4d5ae5;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.span-class-footer {
  color: #f4f4fd;
}

/* .second-section {
  padding: 120px 0;
} */

/* .second-section-ul {
  display: flex;
  gap: 24px;
} */

/* .li-class-section-two {
  width: calc((100% - 72px) / 4);
} */

/* section 3 */
/* .third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
} */

/* .section-three-ul {
  display: flex;
  gap: 24px;
  justify-content: center;
} */

/* section 4 */
/* .fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

/* .section-four-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
} */

/* .section-four-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
} */

/* (h2) */

/* .li-class-section-four {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .li-class-section-four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .li-class-section-four:hover .stylish-paragraph {
  transform: translateY(0%);
} */

/* .section-four-caption-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
} */

/* .section-four-caption-3-1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */
